/**
 * Settings
 */
$tablet-width: 767px;
$desktop-width: 1024px;

/**
 * Colors
 */
$white: #fff;
$black: #000;

/**
 * Font Families
 */

$font-family-base: sans-serif;
$font-family-alt: serif;


/**
 * Font Sizes
 */
$font-size-base: 16px;

/**
 * Font Weights
 */
$font-weight-regular: 400;
